<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.jboss.tools.common.model.meta">
      <meta path="meta/hibernate3.meta">
      </meta>
      <meta path="meta/hibconfig3.meta">
      </meta>
   </extension>
   <extension point="org.jboss.tools.common.model.keys">
      <keys path="help/keys-hibernate3.properties"/>
      <keys path="help/keys-hibernate-attrs.properties"/>
      <keys path="help/keys-hibernate-menu.properties"/>
      <keys path="help/keys-hibernate-lists.properties"/>
      <keys path="help/keys-hibernate-config.properties"/>
   </extension>
   <extension
         point="org.jboss.tools.common.model.resourceMapping">
      <mapping
          loader="org.hibernate.tool.eclipse.xml"
          priority="2"
          kind="class"
          paths=".hibernate.xml."
      />
   </extension>
   <extension
         point="org.jboss.tools.common.model.resourceMapping">
      <mapping
          loader="org.hibernate.tool.eclipse.xml.HibernateXMLPlugin"
          priority="0"
          kind="image"
          paths="/orm2/"
      />
   </extension>

	<extension point="org.jboss.tools.common.model.classes">
		<xclass id="org.hibernate.tool.eclipse.xml.model.FileHibernateFilteredTreeConstraint"
			class="org.hibernate.tool.eclipse.xml.model.FileHibernateFilteredTreeConstraint"/>
		<xclass id="org.hibernate.tool.eclipse.xml.model.HibConfigLoader"
			class="org.hibernate.tool.eclipse.xml.model.HibConfigLoader"/>
		<xclass id="org.hibernate.tool.eclipse.xml.model.HibernateLoader"
			class="org.hibernate.tool.eclipse.xml.model.HibernateLoader"/>
		<xclass id="org.hibernate.tool.eclipse.xml.model.HibernateRecognizer"
			class="org.hibernate.tool.eclipse.xml.model.HibernateRecognizer"/>
		<xclass id="org.hibernate.tool.eclipse.xml.model.HibernateResourceTree"
			class="org.hibernate.tool.eclipse.xml.model.HibernateResourceTree"/>

		<xclass id="org.hibernate.tool.eclipse.xml.model.handlers.AddHibernateAnyHandler"
			class="org.hibernate.tool.eclipse.xml.model.handlers.AddHibernateAnyHandler"/>
		<xclass id="org.hibernate.tool.eclipse.xml.model.handlers.AddHibernateCollectionHandler"
			class="org.hibernate.tool.eclipse.xml.model.handlers.AddHibernateCollectionHandler"/>
		<xclass id="org.hibernate.tool.eclipse.xml.model.handlers.AddHibernateManyToAnyHandler"
			class="org.hibernate.tool.eclipse.xml.model.handlers.AddHibernateManyToAnyHandler"/>
		<xclass id="org.hibernate.tool.eclipse.xml.model.handlers.AddSubclassHandler"
			class="org.hibernate.tool.eclipse.xml.model.handlers.AddSubclassHandler"/>
		<xclass id="org.hibernate.tool.eclipse.xml.model.handlers.DeleteUniqueHandler"
			class="org.hibernate.tool.eclipse.xml.model.handlers.DeleteUniqueHandler"/>
		<xclass id="org.hibernate.tool.eclipse.xml.model.handlers.FolderOwnerAdopt"
			class="org.hibernate.tool.eclipse.xml.model.handlers.FolderOwnerAdopt"/>
		<xclass id="org.hibernate.tool.eclipse.xml.model.handlers.OpenSourceHandler"
			class="org.hibernate.tool.eclipse.xml.model.handlers.OpenSourceHandler"/>
		<xclass id="org.hibernate.tool.eclipse.xml.model.handlers.PasteUniqueHandler"
			class="org.hibernate.tool.eclipse.xml.model.handlers.PasteUniqueHandler"/>
		<xclass id="org.hibernate.tool.eclipse.xml.model.handlers.SimpleAddClassHandler"
			class="org.hibernate.tool.eclipse.xml.model.handlers.SimpleAddClassHandler"/>
		<xclass id="org.hibernate.tool.eclipse.xml.model.impl.DatabaseObjectImpl"
			class="org.hibernate.tool.eclipse.xml.model.impl.DatabaseObjectImpl"/>
		<xclass id="org.hibernate.tool.eclipse.xml.model.impl.FileHibernateImpl"
			class="org.hibernate.tool.eclipse.xml.model.impl.FileHibernateImpl"/>
		<xclass id="org.hibernate.tool.eclipse.xml.model.impl.HibConfigCacheImpl"
			class="org.hibernate.tool.eclipse.xml.model.impl.HibConfigCacheImpl"/>
		<xclass id="org.hibernate.tool.eclipse.xml.model.impl.HibConfigMappingImpl"
			class="org.hibernate.tool.eclipse.xml.model.impl.HibConfigMappingImpl"/>
		<xclass id="org.hibernate.tool.eclipse.xml.model.impl.HibConfigListenerImpl"
			class="org.hibernate.tool.eclipse.xml.model.impl.HibConfigListenerImpl"/>
		<xclass id="org.hibernate.tool.eclipse.xml.model.impl.HibernateAuxFolderImpl"
			class="org.hibernate.tool.eclipse.xml.model.impl.HibernateAuxFolderImpl"/>
		<xclass id="org.hibernate.tool.eclipse.xml.model.impl.HibernateClassImpl"
			class="org.hibernate.tool.eclipse.xml.model.impl.HibernateClassImpl"/>
		<xclass id="org.hibernate.tool.eclipse.xml.model.impl.HibernateElementImpl"
			class="org.hibernate.tool.eclipse.xml.model.impl.HibernateElementImpl"/>
		<xclass id="org.hibernate.tool.eclipse.xml.model.impl.HibernateFormulaImpl"
			class="org.hibernate.tool.eclipse.xml.model.impl.HibernateFormulaImpl"/>
		<xclass id="org.hibernate.tool.eclipse.xml.model.impl.HibernateIdImpl"
			class="org.hibernate.tool.eclipse.xml.model.impl.HibernateIdImpl"/>
		<xclass id="org.hibernate.tool.eclipse.xml.model.impl.HibernateMapImpl"
			class="org.hibernate.tool.eclipse.xml.model.impl.HibernateMapImpl"/>
		<xclass id="org.hibernate.tool.eclipse.xml.model.impl.HibernateMetaImpl"
			class="org.hibernate.tool.eclipse.xml.model.impl.HibernateMetaImpl"/>
		<xclass id="org.hibernate.tool.eclipse.xml.model.impl.HibernateQueryFolderImpl"
			class="org.hibernate.tool.eclipse.xml.model.impl.HibernateQueryFolderImpl"/>
		<xclass id="org.hibernate.tool.eclipse.xml.model.impl.HibernateVersionImpl"
			class="org.hibernate.tool.eclipse.xml.model.impl.HibernateVersionImpl"/>
		<xclass id="org.hibernate.tool.eclipse.xml.model.impl.OrderedObject2Impl"
			class="org.hibernate.tool.eclipse.xml.model.impl.OrderedObject2Impl"/>
		<xclass id="org.hibernate.tool.eclipse.xml.model.impl.RegularObject2Impl"
			class="org.hibernate.tool.eclipse.xml.model.impl.RegularObject2Impl"/>
		<xclass id="org.hibernate.tool.eclipse.xml.model.impl.HibConfigComplexPropertyImpl"
			class="org.hibernate.tool.eclipse.xml.model.impl.HibConfigComplexPropertyImpl"/>
		<xclass id="org.hibernate.tool.eclipse.xml.model.impl.HibConfigSimplePropertyImpl"
			class="org.hibernate.tool.eclipse.xml.model.impl.HibConfigSimplePropertyImpl"/>
		<xclass id="org.hibernate.tool.eclipse.xml.model.impl.HibClassImpl"
			class="org.hibernate.tool.eclipse.xml.model.impl.HibClassImpl"/>

		<xclass id="org.hibernate.tool.eclipse.xml.model.impl.ContextPackageProvider"
			class="org.hibernate.tool.eclipse.xml.model.impl.ContextPackageProvider"/>

		<xclass id="org.hibernate.tool.eclipse.xml.model.handlers.DeletePropertyHandler"
			class="org.hibernate.tool.eclipse.xml.model.handlers.DeletePropertyHandler"/>
		<xclass id="org.hibernate.tool.eclipse.xml.model.handlers.AddPropertySupport"
			class="org.hibernate.tool.eclipse.xml.model.handlers.AddPropertySupport"/>
		<xclass id="org.hibernate.tool.eclipse.xml.model.handlers.OpenResourceHandler"
			class="org.hibernate.tool.eclipse.xml.model.handlers.OpenResourceHandler"/>
		
		<xclass id="org.hibernate.tool.eclipse.xml.model.GrantActionsConstraint"
			class="org.hibernate.tool.eclipse.xml.model.GrantActionsConstraint"/>
			
			
		<xclass id="org.hibernate.tool.eclipse.xml.model.constraint.IntELConstraint"
			class="org.hibernate.tool.eclipse.xml.model.constraint.IntELConstraint"/>
		<xclass id="org.hibernate.tool.eclipse.xml.model.constraint.ListELConstraint"
			class="org.hibernate.tool.eclipse.xml.model.constraint.ListELConstraint"/>
		<xclass id="org.hibernate.tool.eclipse.xml.model.constraint.ListIntELConstraint"
			class="org.hibernate.tool.eclipse.xml.model.constraint.ListIntELConstraint"/>
   </extension>

</plugin>