<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="exporters" name="Hibernate Console Exporter" schema="schema/exporters.exsd"/>

   <extension
         id="hibernateBuilder"
         name="Hibernate Builder"
         point="org.eclipse.core.resources.builders">
      <builder hasNature="false">
         <run class="org.hibernate.tool.eclipse.orm.base.core.builder.HibernateBuilder"/>
      </builder>
   </extension>


</plugin>
