<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.jdt.ui.quickAssistProcessors">
      <quickAssistProcessor
            class="org.hibernate.tool.eclipse.orm.jdt.ui.internal.CriteriaQuickAssistProcessor"
            id="org.hibernate.tool.eclipse.orm.jdt.ui.criteriaquickassist"
            name="Criteria Quick Assists"/>
      <quickAssistProcessor
            class="org.hibernate.tool.eclipse.orm.jdt.ui.internal.HQLQuickAssistProcessor"
            id="org.hibernate.tool.eclipse.orm.jdt.ui.hqlquickassist"
            name="HQL Quick Assist"/>
   </extension>
  <extension
          id="org.hibernate.tool.eclipse.orm.jdt.ui.completioncategory"
          name="Hibernate Proposals"
          point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
       <javaCompletionProposalComputer
             activate="true"
             categoryId="org.hibernate.tool.eclipse.orm.jdt.ui.completioncategory"
             class="org.hibernate.tool.eclipse.orm.jdt.ui.internal.HQLJavaCompletionProposalComputer">
          <partition type="__java_string"/>
       </javaCompletionProposalComputer>
       <proposalCategory icon="icons/hibernate_proposalcategory.png"/>
    </extension>
    <extension point="org.eclipse.ui.commands"> 
        <category id="org.hibernate.tool.eclipse.orm.jdt.ui.run_jpaaction.category1" 
            name="%Category_GenerateHibernateAnnotations"> 
        </category> 
        <command categoryId="org.hibernate.tool.eclipse.orm.jdt.ui.run_jpaaction.category1" 
            defaultHandler="org.hibernate.tool.eclipse.orm.jdt.ui.internal.jpa.actions.JPAMapToolActionDelegate" 
            id="org.hibernate.tool.eclipse.orm.jdt.ui.run_jpaaction" 
            name="%Command_GenerateHibernateAnnotations"> 
        </command> 
    </extension> 
    <extension point="org.eclipse.ui.menus"> 
        <menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=edit"> 
            <menu id="org.eclipse.jdt.ui.source.menu" label="%Menu_Source"> 
            </menu> 
        </menuContribution> 
        <menuContribution locationURI="menu:org.eclipse.jdt.ui.source.menu"> 
            <separator name="commentGroup" visible="true"/> 
            <separator name="editGroup" visible="true"/> 
            <separator name="importGroup" visible="true"/> 
            <separator name="generateGroup" visible="true"/> 
            <separator name="codeGroup" visible="true"/> 
            <separator name="externalizeGroup" visible="true"/> 
            <separator name="convertGroup" visible="true"/> 
        </menuContribution> 
        <menuContribution locationURI="menu:org.eclipse.jdt.ui.source.menu?after=generateGroup"> 
            <command commandId="org.hibernate.tool.eclipse.orm.jdt.ui.run_jpaaction" 
                id="org.hibernate.tool.eclipse.orm.jdt.ui.run_jpaaction" style="push"> 
                <visibleWhen checkEnabled="false"> 
                    <or>
                        <with variable="activeEditorId">
                            <or>
                                <equals value="org.eclipse.jdt.ui.CompilationUnitEditor" />
                            </or>
                        </with>
                        <with variable="selection">
                            <iterate ifEmpty="false">
                                <or>
                                    <instanceof value="org.eclipse.jdt.core.ICompilationUnit"/>
                                    <instanceof value="org.eclipse.jdt.internal.core.JavaProject"/>
                                    <instanceof value="org.eclipse.jdt.internal.core.PackageFragment"/>
                                    <and>
                                        <instanceof value="org.eclipse.jdt.internal.core.JavaElement"/>
                                        <not>
                                            <or>
                                                <instanceof value="org.eclipse.jdt.internal.core.ExternalPackageFragmentRoot"/>
                                                <instanceof value="org.eclipse.jdt.internal.core.JarPackageFragmentRoot"/>
                                                <instanceof value="org.eclipse.jdt.internal.core.ClassFile"/>
                                                <instanceof value="org.eclipse.jdt.internal.core.ExternalJavaProject"/>
                                            </or>
                                        </not>
                                    </and>
                                </or>
                            </iterate>
                        </with>
                    </or>
                </visibleWhen> 
            </command>
        </menuContribution>
    </extension>
    <!-- java editor context menu -->
    <extension point="org.eclipse.ui.menus">
        <menuContribution locationURI="popup:#CompilationUnitEditorContext?after=edit">
            <menu id="org.eclipse.jdt.ui.source.menu" label="%Menu_Source">
                <separator name="generateGroup" visible="true"/>
            </menu>
        </menuContribution>
        <menuContribution locationURI="popup:#CompilationUnitEditorContext?after=generateGroup">
            <command commandId="org.hibernate.tool.eclipse.orm.jdt.ui.run_jpaaction"
                label="%JavaEditorMenu_GenerateHibernateAnnotations"
                style="push">
                <visibleWhen checkEnabled="false">
                    <with variable="activeEditorId">
                        <equals value="org.eclipse.jdt.ui.CompilationUnitEditor"/>
                    </with>
                </visibleWhen>
            </command>
        </menuContribution>
        <!-- java element context menu -->
        <menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=additions">
            <command commandId="org.hibernate.tool.eclipse.orm.jdt.ui.run_jpaaction"
                label="%JavaElementMenu_GenerateHibernateAnnotations"
                style="push">
                <visibleWhen checkEnabled="false">
                    <with variable="activeMenuSelection">
                        <iterate ifEmpty="false">
                            <or>
                                <instanceof value="org.eclipse.jdt.core.ICompilationUnit"/>
                                <instanceof value="org.eclipse.jdt.internal.core.JavaProject"/>
                                <instanceof value="org.eclipse.jdt.internal.core.PackageFragment"/>
                                <and>
                                    <instanceof value="org.eclipse.jdt.internal.core.JavaElement"/>
                                    <not>
                                        <or>
                                            <instanceof value="org.eclipse.jdt.internal.core.ExternalPackageFragmentRoot"/>
                                            <instanceof value="org.eclipse.jdt.internal.core.JarPackageFragmentRoot"/>
                                            <instanceof value="org.eclipse.jdt.internal.core.ClassFile"/>
                                            <instanceof value="org.eclipse.jdt.internal.core.ExternalJavaProject"/>
                                        </or>
                                    </not>
                                </and>
                            </or>
                        </iterate>
                    </with>
                </visibleWhen>
            </command>
        </menuContribution>
    </extension>
	<extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="hibernatewizards"
            class="org.hibernate.tool.eclipse.orm.jdt.ui.wizards.NewHibernateMappingFileWizard"
            icon="icons/hibernate_small_icon.gif"
            id="org.hibernate.tool.eclipse.orm.base.ui.console.wizards.NewHibernateMappingFileWizard"
            name="%New_wizard_menu_New_mapping_file">
         <description>
            %New_wizard_menu_New_mapping_file_description
         </description>
      </wizard>
      </extension>
</plugin>
