<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.hibernate.tool.eclipse.xml.ui.cfg.CfgXmlEditor"
            name="Hibernate Configuration Editor"
            class="org.hibernate.tool.eclipse.xml.ui.internal.cfg.CfgXmlEditor"
            default="true">
         <contentTypeBinding contentTypeId="org.hibernate.eclipse.mapper.cfgxmlsource"/>
      </editor>
      <editor
            id="org.hibernate.tool.eclipse.xml.ui.hbm.HbmXmlEditor"
            name="Hibernate Mapping Editor"
            class="org.hibernate.tool.eclipse.xml.ui.internal.hbm.HbmXmlEditor"
            default="true">
         <contentTypeBinding contentTypeId="org.hibernate.eclipse.mapper.hbmxmlsource"/>
      </editor>
   </extension>
</plugin>
