<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
       <page
             id="org.hibernate.tool.eclipse.orm.base.ui.preferences"
             name="Hibernate"
             category=""
             class="org.hibernate.tool.eclipse.orm.base.ui.internal.RuntimesPreferencePage">
       </page>
   </extension>
     <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            icon="icons/hibernate_small_icon.gif"
            class="org.hibernate.tool.eclipse.orm.base.ui.console.HibernateConsolePerspectiveFactory"
            name="%perspective.name"
            id="org.hibernate.tool.eclipse.orm.base.ui.console.HibernateConsolePerspective"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%ViewCategory_Hibernate"
            id="hibernatecategory"/>
     <view
            icon="icons/hibernate_small_icon.gif"
            class="org.hibernate.tool.eclipse.orm.base.ui.console.views.KnownConfigurationsView"
            category="hibernatecategory"
            name="%ViewName_HibernateConfigurations"
            id="org.hibernate.tool.eclipse.orm.base.ui.console.views.KnownConfigurationsView"/>
      <view
            icon="icons/hibernate_small_icon.gif"
            class="org.hibernate.tool.eclipse.orm.base.ui.console.views.QueryPageTabView"
            category="hibernatecategory"
            name="%ViewName_HibernateQueryResult"
            id="org.hibernate.tool.eclipse.orm.base.ui.console.views.QueryPageTabView"/>
      <view
            category="hibernatecategory"
            class="org.hibernate.tool.eclipse.orm.base.ui.console.views.DynamicSQLPreviewView"
            icon="icons/hibernate_small_icon.gif"
            id="org.hibernate.tool.eclipse.orm.base.ui.console.views.DynamicSQLPreviewView"
            name="%ViewName_HibernateDynamicSQLPreview"/>
      <view
            category="hibernatecategory"
            class="org.hibernate.tool.eclipse.orm.base.ui.console.views.QueryParametersView"
            icon="icons/images/parameter.gif"
            id="org.hibernate.tool.eclipse.orm.base.ui.console.views.QueryParametersView"
            name="%ViewName_QueryParameters"/>

   </extension>
   <extension
         point="org.eclipse.ui.newWizards">

      <category
            name="Hibernate"
            id="hibernatewizards"/>
      <wizard
            category="hibernatewizards"
            class="org.hibernate.tool.eclipse.orm.base.ui.console.wizards.NewConfigurationWizard"
            icon="icons/hibernate_small_icon.gif"
            id="org.hibernate.tool.eclipse.orm.base.ui.console.wizards.NewConfigurationWizard"
            name="Hibernate Configuration File (cfg.xml)">
         <description>Create a new hibernate.cfg.xml file (Helping with the initial JDBC setup etc.)</description>
      </wizard>
      <wizard
            category="hibernatewizards"
            class="org.hibernate.tool.eclipse.orm.base.ui.console.wizards.ConsoleConfigurationCreationWizard"
            descriptionImage="icons/hibernate_small_icon.gif"
            finalPerspective="org.hibernate.tool.eclipse.orm.base.ui.console.HibernateConsolePerspective"
            icon="icons/hibernate_small_icon.gif"
            id="org.hibernate.tool.eclipse.orm.base.ui.console.wizards.ConsoleConfigurationCreationWizard"
            name="Hibernate Console Configuration"
            preferredPerspectives="org.hibernate.tool.eclipse.orm.base.ui.console.HibernateConsolePerspective">
         <description>Create a new Hibernate Console Configuration</description>
      </wizard>
      <wizard
            canFinishEarly="false"
            category="hibernatewizards"
            class="org.hibernate.tool.eclipse.orm.base.ui.console.wizards.NewReverseEngineeringFileWizard"
            icon="icons/hibernate_small_icon.gif"
            id="org.hibernate.tool.eclipse.orm.base.ui.console.wizards.NewReverseEngineeringFileWizard"
            name="Hibernate Reverse Engineering File (reveng.xml)">
         <description>Create a new hibernate.reveng.xml (Helping with the initial table and type filtering)</description>
      </wizard>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <command
            id="org.hibernate.tool.eclipse.orm.base.ui.console.jtidyformat"
            name="Format with JTidy"
            defaultHandler="org.hibernate.tool.eclipse.orm.base.ui.console.actions.JTidyFormatAction"/>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu id="org.hibernate.tool.eclipse.orm.base.ui.console.jtidymenu" label="JTidy">
            <command commandId="org.hibernate.tool.eclipse.orm.base.ui.console.jtidyformat"
                  label="Format with JTidy"
                  style="push">
               <visibleWhen checkEnabled="false">
                  <with variable="activeMenuSelection">
                     <iterate ifEmpty="false">
                        <adapt type="org.eclipse.core.resources.IFile">
                           <test property="org.eclipse.core.resources.name" value="*.xml"/>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.hibernate.tool.eclipse.orm.base.ui.console.properties.HibernatePropertyPage"
            id="org.hibernate.tool.eclipse.orm.base.ui.console.properties.HibernatePropertyPage"
            name="Hibernate Settings"
            objectClass="org.eclipse.jdt.core.IJavaProject">
             </page>
      <page
            class="org.hibernate.tool.eclipse.orm.base.ui.console.properties.HibernatePropertyPage"
            id="org.hibernate.tool.eclipse.orm.base.ui.console.properties.HibernatePropertyPage"
            name="Hibernate Settings"
            objectClass="org.eclipse.core.resources.IProject">
         <filter
               name="nature"
               value="org.eclipse.jdt.core.javanature"/>
             </page>

   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.hibernate.tool.eclipse.orm.base.ui.hqleditor.HQLEditor"
            contributorClass="org.hibernate.tool.eclipse.orm.base.ui.hqleditor.HQLEditorActionContributor"
            extensions="hql"
            icon="icons/images/hql_editor.gif"
            id="org.hibernate.tool.eclipse.orm.base.ui.hqleditor.HQLEditor"
            name="HQL Editor">
      </editor>
      <editor
            class="org.hibernate.tool.eclipse.orm.base.ui.criteriaeditor.CriteriaEditor"
            contributorClass="org.hibernate.tool.eclipse.orm.base.ui.criteriaeditor.CriteriaEditorActionContributor"
            extensions="crit"
            icon="icons/images/criteria_editor.gif"
            id="org.hibernate.tool.eclipse.orm.base.ui.criteriaeditor.CriteriaEditor"
            name="Criteria Editor"/>
   </extension>
    <extension
          point="org.eclipse.ui.actionSets">
       <actionSet
             id="org.hibernate.tool.eclipse.orm.base.ui.console.actionSet"
             label="HQL"
             visible="false">
          <action
                allowLabelUpdate="true"
                icon="icons/images/execute.gif"
                id="org.hibernate.tool.eclipse.orm.base.ui.console.actions.ExecuteQueryAction"
                definitionId="org.hibernate.tool.eclipse.orm.base.ui.console.actions.ExecuteHQLActionCommand"
                label="Run Query"
                retarget="true"
                tooltip="Run HQL Query from current editor">
         </action>
       </actionSet>

    </extension>

    <extension
      point="org.eclipse.ui.commands">
   <command
         categoryId="org.eclipse.ui.category.edit"
         id="org.hibernate.tool.eclipse.orm.base.ui.console.actions.ExecuteHQLActionCommand"
         name="Run Query command"/>
</extension>
<extension
      point="org.eclipse.ui.bindings">
   <key
         commandId="org.hibernate.tool.eclipse.orm.base.ui.console.actions.ExecuteHQLActionCommand"
         contextId="org.hibernate.tool.eclipse.orm.base.ui.console.hql"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="CTRL+ENTER"/>
</extension>

 <extension point="org.eclipse.ui.actionSetPartAssociations">
  <actionSetPartAssociation targetID="org.hibernate.tool.eclipse.orm.base.ui.console.actionSet">
   <part id="org.hibernate.tool.eclipse.orm.base.ui.hqleditor.HQLEditor"/>
   <part id="org.hibernate.tool.eclipse.orm.base.ui.criteriaeditor.CriteriaEditor"/>
  </actionSetPartAssociation>
 </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.hibernate.tool.eclipse.orm.base.ui.console.HibernateConsolePerspective">
         <actionSet id="org.eclipse.jdt.ui.JavaActionSet"/>
         <newWizardShortcut id="org.hibernate.tool.eclipse.orm.base.ui.console.wizards.NewHibernateMappingFileWizard"/>
         <newWizardShortcut id="org.hibernate.tool.eclipse.orm.base.ui.console.wizards.NewConfigurationWizard"/>
         <newWizardShortcut id="org.hibernate.tool.eclipse.orm.base.ui.console.wizards.ConsoleConfigurationCreationWizard"/>
         <newWizardShortcut id="org.hibernate.tool.eclipse.orm.base.ui.console.wizards.NewReverseEngineeringFileWizard"/>
         <viewShortcut id="org.hibernate.tool.eclipse.orm.base.ui.console.views.KnownConfigurationsView"/>
         <viewShortcut id="org.hibernate.tool.eclipse.orm.base.ui.console.views.QueryPageTabView"/>
         <viewShortcut id="org.hibernate.tool.eclipse.orm.base.ui.console.views.DynamicSQLPreviewView"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.hibernate.tool.eclipse.orm.base.ui.console.hql"
            name="Editing HQL"
            parentId="org.eclipse.ui.textEditorScope"/>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/images/hibernate_config.gif"
            configTypeID="org.hibernate.eclipse.launch.ConsoleConfigurationLaunchConfigurationType"
            id="org.hibernate.eclipse.launch.ConsoleConfiguraitonLaunchImage"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.hibernate.tool.eclipse.orm.base.ui.launch.ConsoleConfigurationTabGroup"
            description="Select or configure a Console Configuration"
            id="org.hibernate.eclipse.launch.ConsoleConfigurationLaunchTabGroup"
            type="org.hibernate.eclipse.launch.ConsoleConfigurationLaunchConfigurationType"/>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchGroups">
      <launchGroup
            bannerImage="icons/images/newhibernate_wiz.gif"
            category="org.hibernate.eclipse.launchcategory"
            id="org.hibernate.eclipse.launch.ConsoleConfigurationLaunchGroup"
            image="icons/images/hibernate_launch.png"
            label="Hibernate Console Configuration"
            mode="run"
            title="Select or configure a console configuration to run"/>
   </extension>
   <extension
         point="org.hibernate.tool.eclipse.orm.base.core.exporters">
      <exporter
            classname="org.hibernate.tool.hbm2x.POJOExporter"
            description="Domain code (.java)"
            icon="icons/images/mapped_class.gif"
            id="org.hibernate.tools.hbm2java">
         <property
               description="Generate EJB3 annotations"
               name="ejb3"
               type="boolean"
               value="false"/>
         <property
               description="Generate Java 5 syntax"
               name="jdk5"
               type="boolean"
               value="false"/>
         <property
               description="Output directory"
               name="outputdir"
               type="directory"
               value=""/>
         <property
               description="Template directory"
               name="template_path"
               type="path"
               value=""/>
      </exporter>
      <exporter
            classname="org.hibernate.tool.hbm2x.HibernateMappingExporter"
            description="Hibernate XML Mappings (.hbm.xml)"
            icon="icons/images/hibernate_mapping.gif"
            id="org.hibernate.tools.hbm2hbmxml">
            <property
               description="Output directory"
               name="outputdir"
               type="directory"
               value=""/>
         <property
               description="Template directory"
               name="template_path"
               type="path"
               value=""/>
            </exporter>
      <exporter
            classname="org.hibernate.tool.hbm2x.DAOExporter"
            description="DAO code (.java)"
            icon="icons/hibernate_small_icon.gif"
            id="org.hibernate.tools.hbm2dao">
         <property
               description="Generate EJB3 annotations"
               name="ejb3"
               type="boolean"
               value="false"/>
         <property
               description="Generate Java syntax"
               name="jdk5"
               type="boolean"
               value="false"/>
               <property
               description="Output directory"
               name="outputdir"
               type="directory"
               value=""/>
         <property
               description="Template directory"
               name="template_path"
               type="path"
               value=""/>
      </exporter>
       <exporter
            classname="org.hibernate.tool.hbm2x.GenericExporter"
            description="Generic Exporter (&lt;hbmtemplate&gt;)"
            icon="icons/images/hibernate_mapping.gif"
            id="org.hibernate.tools.hbmtemplate">
            <property
               description="Output directory"
               name="outputdir"
               type="directory"
               value=""/>
            <property
               description="Template directory"
               name="template_path"
               type="path"
               value=""/>
            <property
               description="File pattern"
               name="file_pattern"
               type="string"
               value="{package-name}/{class-name}.java"/>
            <property
               description="For each"
               name="for_each"
               type="string"
               value="entity, component"/>
            <property
               description="Template name"
               name="template_name"
               type="string"
               value="pojo/Pojo.ftl"/>
         </exporter>

      <exporter
            classname="org.hibernate.tool.hbm2x.HibernateConfigurationExporter"
            description="Hibernate XML Configuration (.cfg.xml)"
            icon="icons/hibernate_small_icon.gif"
            id="org.hibernate.tools.hbm2cfgxml">
            <property
               description="Output directory"
               name="outputdir"
               type="directory"
               value=""/>
         <property
               description="Template directory"
               name="template_path"
               type="path"
               value=""/>
            </exporter>
      <exporter
            classname="org.hibernate.tool.hbm2x.DocExporter"
            description="Schema Documentation (.html)"
            icon="icons/images/schema.gif"
            id="org.hibernate.tools.hbm2doc">
         <property
               description="executable to run GraphViz"
               name="dot.executable"
               type="string"
               value="dot.exe"/>
         <property
               description="Output directory"
               name="outputdir"
               type="directory"
               value=""/>
         <property
               description="Template directory"
               name="template_path"
               type="path"
               value=""/>
      </exporter>
      <exporter
            classname="org.hibernate.tool.hbm2x.Hbm2DDLExporter"
            description="Schema Export (.ddl)"
            icon="icons/images/schema.gif"
            id="org.hibernate.tools.hbm2ddl">
         <property
               description="Output directory"
               name="outputdir"
               type="directory"
               value=""/>
         <property
               description="Output file name"
               name="outputFileName"
               type="string"
               value="schema.sql"/>
         <property
               description="Export to database"
               name="exportToDatabase"
               type="boolean"
               value="true"/>
         <property
               description="Script to console"
               name="scriptToConsole"
               type="boolean"
               value="true"/>
         <property
               description="Update schema"
               name="schemaUpdate"
               type="boolean"
               value="false"/>
         <property
               description="Delimiter used in output file"
               name="delimiter"
               type="string"
               value=";"/>
         <property
               description="Generate Drop statements"
               name="drop"
               type="boolean"
               value="false"/>
         <property
               description="Generate Create statements"
               name="create"
               type="boolean"
               value="true"/>
         <property
               description="Format generated SQL"
               name="format"
               type="boolean"
               value="false"/>
         <property
               description="Halt on error"
               name="haltOnError"
               type="boolean"
               value="false"/>
      </exporter>
      <exporter
            classname="org.hibernate.tool.hbm2x.QueryExporter"
            description="HQL Query Execution Exporter"
            icon="icons/images/hql_editor_connect.gif"
            id="org.hibernate.tools.query">
         <property
               description="Output directory"
               name="outputdir"
               type="directory"
               value=""/>
         <property
               description="File name"
               name="outputFileName"
               type="string"
               value=""/>
         <property
               description="Query"
               name="query_string"
               type="string"
               value="from &lt;fullClassName&gt;"/>
      </exporter>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.hibernate.tool.eclipse.orm.base.ui.hqleditor.preferences.HQLEditorPreferencePage"
            id="org.hibernate.tool.eclipse.orm.base.ui.hqleditor.preferences.HQLEditorPreferencePage"
            name="%Preference_Page_HQL">
         <keywordReference id="org.hibernate.tool.eclipse.orm.base.ui.hqleditor.preferencekeywords"/>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.hibernate.tool.eclipse.orm.base.ui.hqleditor.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="org.hibernate.tool.eclipse.orm.base.ui.hqleditor.preferencekeywords"
            label="hql editor colors coloring highlighting query"/>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="org.hibernate.tool.eclipse.orm.base.ui.console.HibernateToolsExport"
            class="org.hibernate.tool.eclipse.orm.base.ui.codegen.ExportAntCodeGenWizard"
            icon="icons/images/ant_codegen_export.gif"
            id="org.hibernate.tool.eclipse.orm.base.ui.codegen.ExportAntCodeGenWizard"
            name="%exportHibernateAntCodeGenerationWizardName">
         <description>
            %exportHibernateAntCodeGenerationWizardDescription
         </description>
      </wizard>
      <category
            id="org.hibernate.tool.eclipse.orm.base.ui.console.HibernateToolsExport"
            name="Hibernate">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.hibernate.tool.eclipse.orm.base.ui.console.HibernateConsolePerspective">
         <newWizardShortcut
               id="org.hibernate.tool.eclipse.orm.base.ui.console.wizards.ConsoleConfigurationCreationWizard">
         </newWizardShortcut>
         <perspectiveShortcut
               id="org.hibernate.tool.eclipse.orm.base.ui.console.HibernateConsolePerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
