<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
        point="org.eclipse.ui.editors">
      <editor
            default="true"
            extensions="hibernate"
            class="org.hibernate.tool.eclipse.ui.diagram.editors.DiagramViewer"
            contributorClass="org.hibernate.tool.eclipse.ui.diagram.editors.DiagramActionBarContributor"
            icon="$nl$/icons/hibernate_small_icon.gif"
            id="org.hibernate.tool.eclipse.ui.diagram.editors.DiagramViewer"
            name="Hibernate Diagram Viewer">
      </editor>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <command
            id="org.hibernate.tool.eclipse.ui.view.openDiagramAction"
            name="Mapping Diagram"
            defaultHandler="org.hibernate.tool.eclipse.ui.view.OpenDiagramActionDelegate"/>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=group.primalEditors.last">
         <command commandId="org.hibernate.tool.eclipse.ui.view.openDiagramAction"
               icon="images/hibernate_small_icon.gif"
               label="Mapping Diagram"
               style="push">
            <visibleWhen checkEnabled="false">
               <with variable="activeMenuSelection">
                  <iterate ifEmpty="false" operator="or">
                     <or>
                        <instanceof value="org.hibernate.tool.eclipse.orm.runtime.spi.IConfiguration"/>
                        <instanceof value="org.hibernate.tool.eclipse.orm.console.core.ConsoleConfiguration"/>
                        <instanceof value="org.hibernate.tool.eclipse.orm.runtime.spi.IPersistentClass"/>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.hibernate.tool.eclipse.ui.view.DiagramEditorInputFactory"
            id="org.hibernate.tool.eclipse.ui.view.DiagramEditorInputFactory">
      </factory>
   </extension>
</plugin>
